<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a ui-sref="dashboard">
                <img ng-src="{{settings.layoutPath}}/img/logo-default.jpg" alt="logo" class="logo-default"> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li ng-if="currentUser" class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" ng-src="{{currentUser.avatar}}">
                        <span class="username username-hide-mobile">{{currentUser.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="#!/profile">
                                <i class="icon-user"></i> My Profile </a>
                        </li>
                        <li>
                            <a href="#!/search/null">
                                <i class="fa fa-search"></i> Search Users
                            </a>
                        </li>
                        <li>
                            <a href="#!/followers">
                                <i class="icon-users"></i> Followers
                                <span class="badge badge-success"> {{currentUser.followers.length}} </span>
                            </a>
                        </li>
                        <li>
                            <a href="#!/following">
                                <i class="icon-user-following"></i> Following
                                <span class="badge badge-success"> {{currentUser.following.length}} </span>
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a ng-click="logout(model.user)">
                                <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <li ng-if="currentUser == undefined">
                    <a href="#!/login" class="btn btn-xs blue"> Login
                        <i class="fa fa-user"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove dropdown-menu-hover and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#!/index">Index</a>
                </li>
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->