<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-users"></i>User List
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                    <tr>
                        <th> Username</th>
                        <th> First Name</th>
                        <th> Last Name</th>
                        <th> Email</th>
                        <th> Roles</th>
                        <th> Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in model.users">
                        <td ng-if="user.roles.indexOf('ADMIN') > -1" class="highlight">
                            <div class="success"></div>
                            <a> {{user.username}} </a>
                        </td>
                        <td ng-if="user.roles.indexOf('ADMIN') < 0" class="highlight">
                            <div class="warning"></div>
                            <a> {{user.username}} </a>
                        </td>
                        <td> {{user.firstName}}</td>
                        <td> {{user.lastName}}</td>
                        <td> {{user.email}}</td>
                        <td>
                            <span ng-repeat="role in user.roles" ng-if="role == 'ADMIN'"
                                  class="label label-xs label-success label-mini"> ADMIN </span>
                            <span ng-repeat="role in user.roles" ng-if="role == 'USER'"
                                  class="label label-xs label-warning label-mini"> USER </span>

                        </td>
                        <td>
                            <span ng-if="user.status == 'ACTIVE'"
                                  class="label label-xs label-success label-mini"> Active </span>
                            <span ng-if="user.status == 'INACTIVE'"
                                  class="label label-xs label-default label-mini"> Inactive </span>

                        </td>
                        <td>
                            <!--<a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple">-->
                                <!--<i class="fa fa-edit"></i> Edit </a>-->
                            <a ng-if="user.roles.indexOf('ADMIN') < 0 && user.status == 'ACTIVE'"
                               class="btn btn-outline btn-circle dark btn-sm black"
                               ng-click="model.disableUser(user._id)">
                                <i class="fa fa-lock"></i> Disable </a>

                            <a ng-if="user.roles.indexOf('ADMIN') < 0 && user.status == 'INACTIVE'"
                               class="btn btn-outline btn-circle dark btn-sm black"
                               ng-click="model.disableUser(user._id)"
                               ng-click="model.enableUser(user._id)">
                                <i class="fa fa-unlock"></i> Enable </a>
                        </td>
                    </tr>
                    <tr>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>