<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bell-o"></i>Advance Table </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="javascript:;" class="reload"> </a>
                <a href="javascript:;" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                    <tr>
                        <th>
                            <i class="fa fa-briefcase"></i> Company </th>
                        <th class="hidden-xs">
                            <i class="fa fa-user"></i> Contact </th>
                        <th>
                            <i class="fa fa-shopping-cart"></i> Total </th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="highlight">
                            <div class="success"></div>
                            <a href="javascript:;"> RedBull </a>
                        </td>
                        <td class="hidden-xs"> Mike Nilson </td>
                        <td> 2560.60$ </td>
                        <td>
                            <a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple">
                                <i class="fa fa-edit"></i> Edit </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="highlight">
                            <div class="info"> </div>
                            <a href="javascript:;"> Google </a>
                        </td>
                        <td class="hidden-xs"> Adam Larson </td>
                        <td> 560.60$ </td>
                        <td>
                            <a href="javascript:;" class="btn btn-outline btn-circle dark btn-sm black">
                                <i class="fa fa-trash-o"></i> Delete </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="highlight">
                            <div class="success"> </div>
                            <a href="javascript:;"> Apple </a>
                        </td>
                        <td class="hidden-xs"> Daniel Kim </td>
                        <td> 3460.60$ </td>
                        <td>
                            <a href="javascript:;" class="btn btn-outline btn-circle green btn-sm purple">
                                <i class="fa fa-edit"></i> Edit </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="highlight">
                            <div class="warning"> </div>
                            <a href="javascript:;"> Microsoft </a>
                        </td>
                        <td class="hidden-xs"> Nick </td>
                        <td> 2560.60$ </td>
                        <td>
                            <a href="javascript:;" class="btn btn-outline btn-circle red btn-sm blue">
                                <i class="fa fa-share"></i> Share </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>